DATABASE_URL=postgres://mailotp:mailotp@localhost:5432/mailotp?sslmode=disable
WEBHOOK_SECRET=change-me
MAIL_DOMAIN=mailotp.com
HTTP_ADDR=:8000
AUTO_CREATE_TABLES=true
CORS_ORIGINS=http://localhost:3000
